{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Autobuses XYZ</title>

    <link rel="stylesheet" href="{% static 'font/fontawesome/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    {% include 'header.html' %}

    <main id="js-main" class="opt-main">
      <div class="content">
        {% block content %}

        {% endblock %}
      </div>
    </main>

    <footer class="opt-footer footer has-text-centered">
      <div class="content">
        <div class="has-text-centered">
          Source code licensed <a href="https://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>. Website content licensed <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
          <p>&copy; 2025 Autobuses XYZ</p>
        </div>
      </div>
    </footer>
    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>
