<nav id="js-nav" class="opt-nav">
  <a href="{% url 'home' %}" class="opt-nav-item" title="Dasboard">
    <span class="icon"><i class="fa-solid fa-chart-pie"></i></span>
    <span class="opt-nav-item-name">
      <span class="is-hidden-fullhd">Dash</span>
      <span class="is-hidden is-block-fullhd">Dashboard</span>
    </span>
  </a>
  <a href="{% url 'about' %}" class="opt-nav-item" title="About">
    <span class="icon"><i class="fa-solid fa-circle-info"></i></span>
    <span class="opt-nav-item-name">
      <span class="is-hidden-fullhd">Acerda de</span>
      <span class="is-hidden is-block-fullhd">Acerca de</span>
    </span>
  </a>

  {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="button is-primary opt-nav-mobile">Logout</a>
  {% else %}
    <a href="{% url 'login' %}" class="button is-primary opt-nav-mobile">Login</a>
  {% endif %}
</nav>
